@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import 
'abstracts/_var.scss',
'abstracts/_typography.scss';

@import 
'components/_grid.scss',
'components/_tabs.scss';

* {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
 }
 ::-webkit-scrollbar-thumb {
  background: rgb(197, 197, 197);
  border-radius: 0px;
 }
 ::-webkit-scrollbar-thumb:hover{
  background: #007F93;
 }
 ::-webkit-scrollbar-track{
  background: #ffffff;
  border-radius: 0px;
  box-shadow: inset 2px 10px 12px #f0f0f0;
 }

 .totals {
   input{
     background-color: #DCDCDC!important;
   }
 }

 i, rem {
   color:rgb(138, 116, 116);
   font-weight: 100;
   font-size: 8;
 }

