//G1
.grid_1 {
    clear: both;
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "a b c d e"
        "a01 b01 c01 d01 e01"
        "a02 b02 b02 b02 b02"
        "a03 b03 c03 d03 e03"
        "a04 b04 b04 b04 b04"
        "a05 b05 c05 d05 e05"
        "a06 b06 b06 b06 b06"
        "a07 b07 c07 d07 e07"
        "a08 b08 b08 b08 b08"
        "a09 b09 c09 d09 e09"
        "a10 b10 b10 b10 b10";
    padding: 8px 0 42px 0;

    .a {
        font-size: 1.4em ;
        font-weight: 500;
        color: $color2;
        padding: 8px;
        min-width: 90px;
        text-align: center;
        grid-area: a;
    }

    .b {
        font-size: 1.4em ;
        font-weight: 500;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        text-align: center;
        grid-area: b;
    }

    .c {
        font-size: 1.4em ;
        font-weight: 500;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        text-align: center;
        grid-area: c;
    }

    .d {
        font-size: 1.4em ;
        font-weight: 500;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        text-align: center;
        grid-area: d;
    }

    .e {
        font-size: 1.4em ;
        font-weight: 500;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        text-align: center;
        grid-area: e;
    }

    .a01 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: a01;
    }

    .a02 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: a02;
    }

    .a03 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: a03;
    }

    .a04 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: a04;
    }

    .a05 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: a05;
    }

    .a06 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: a06;
    }

    .a07 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: a07;
    }

    .a08 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: a08;
    }

    .a09 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: a09;
    }

    .a10 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: a10;
    }

    .b01 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: b01;

        input {
            max-width: 104px;
            text-align: right;
        }
    }

    .b02 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: b02;
        input {
            width: 98%;
            text-align: right;
        }
    }

    .b03 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: b03;
        input {
            max-width: 104px;
            text-align: right;
        }
    }

    .b04 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: b04;
        input {
            width: 98%;
            text-align: right;
        }
    }

    .b05 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: b05;
        input {
            max-width: 104px;
            text-align: right;
        }
    }

    .b06 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: b06;
        input {
            width: 98%;
            text-align: right;
        }
    }

    .b07 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: b07;
        input {
            max-width: 104px;
            text-align: right;
        }
    }

    .b08 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: b08;
        input {
            width: 98%;
            text-align: right;
        }
    }

    .b09 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: b09;
        input {
            max-width: 104px;
            text-align: right;
        }
    }

    .b10 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: b10;
        input {
            width: 98%;
            text-align: right;
        }
    }

    .c01 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: c01;
        input {
            max-width: 104px;
            text-align: right;
        }
    }

    .c03 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: c03;
        input {
            max-width: 104px;
            text-align: right;
        }
    }

    .c05 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: c05;
        input {
            max-width: 104px;
            text-align: right;
        }
    }

    .c07 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: c07;
        input {
            max-width: 104px;
            text-align: right;
        }
    }

    .c09 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: c09;
        input {
            max-width: 104px;
            text-align: right;
        }
    }

    .d01 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: d01;
        input {
            max-width: 104px;
            text-align: right;
        }
    }

    .d03 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: d03;
        input {
            max-width: 104px;
            text-align: right;
        }
    }

    .d05 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: d05;
        input {
            max-width: 104px;
            text-align: right;
        }
    }

    .d07 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: d07;
        input {
            max-width: 104px;
            text-align: right;
        }
    }

    .d09 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: d09;
        input {
            max-width: 104px;
            text-align: right;
        }
    }


    .e01 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: e01;
        input {
            max-width: 104px;
            text-align: right;
        }
    }

    .e03 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: e03;
        input {
            max-width: 104px;
            text-align: right;
        }
    }

    .e05 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: e05;
        input {
            max-width: 104px;
            text-align: right;
        }
    }


    .e07 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: e07;
        input {
            max-width: 104px;
            text-align: right;
        }
    }


    .e09 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: e09;
        input {
            max-width: 104px;
            text-align: right;
        }
    }
}

.grid_2 {
    clear: both;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "a01 b01"
        "a02 b02";
    padding: 8px 0 42px 0;

    .a01 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: a01;
    }

    .a02 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: a02;
    }

    .b01 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: b01;

        input {
            width: 98%;
            text-align: right;
        }
    }

    .b02 {
        font-size: 1em;
        font-weight: 400;
        color: $color2;
        background-color: $Default-RW;
        padding: 8px;
        border-bottom: 1px solid $Default-L;
        border-right: 1px solid $Default-L;
        border-left: 1px solid $Default-L;
        min-width: 90px;
        grid-area: b02;
        input {
            width: 98%;
            text-align: right;
        }
    }
}

.title{
    clear: both;
    font-size: 1.4em;
    font-weight: 500;
    color: $color2;
}