// theme
$color1: #00276F;
$color2: #333333;
$color3: #0072B2;
$color4: #00A2E1;
$color5: #B4C6E7;
$color6: #8DD3D0;
$color7: #8CD8ED;

$colorT: transparent;

$Default-GT : #e7efff;
$Default-RW : #eff5ff;
$Default-T : #d6e5ff;
$Default-L : #f7faff;

//#C6EFCE

$color_error: red;

//Tables
// Main Colors
$primary: $color6;
$success: $color7; 
$gray: #ccc;
$white: #FFFFFF;

// talbe custom colors
$defaultColor: black;
$theadColor: $color2;
$cellOddColor: $color4;
$cellEvenColor: $success;

// Border Options
$cellBorderWidth: 1px;
$borderSpacing: 1px;

// Max width to change the display
$MaxWidth: 630px;