.custom_tab{
    border: 1px solid $color5!important;
    background: $color5!important;
    color: #ffffff;
    font-weight: bold;
    /*
    li{
        a{
            color: $color5!important;
        }
    }
    */
}