.ty_h1 {
  color: $color2;
  font-size: 2rem;
}

.ty_h3 {
  font-size: 1.2rem;
  color: $color3;
}

.ty_h4 {
  padding-top: 18px;
  font-size: 1rem;
  color: $color3;
}

.ta_left{
  text-align: left!important;
  font-weight: 400!important;

}

.ta_left_b{
  text-align: left!important;
  font-weight: 600!important;
  color: #007F93;
  border-top: 1px solid #007F93;
  background-color: rgba(0, 0, 0, 0.089);
}
.ta_center{
  text-align: center!important;
}

.ta_right{
  text-align: right!important;
  background-color: blueviolet!important;
  max-width: 150px!important;
}

.text-overflow {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }