@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.ty_h1 {
  color: #333333;
  font-size: 2rem;
}

.ty_h3 {
  font-size: 1.2rem;
  color: #0072B2;
}

.ty_h4 {
  padding-top: 18px;
  font-size: 1rem;
  color: #0072B2;
}

.ta_left {
  text-align: left !important;
  font-weight: 400 !important;
}

.ta_left_b {
  text-align: left !important;
  font-weight: 600 !important;
  color: #007F93;
  border-top: 1px solid #007F93;
  background-color: rgba(0, 0, 0, 0.089);
}

.ta_center {
  text-align: center !important;
}

.ta_right {
  text-align: right !important;
  background-color: blueviolet !important;
  max-width: 150px !important;
}

.text-overflow {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: white;
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.t1g1 {
  clear: both;
  display: grid;
  grid-template-columns: auto 130px;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: "title title" "r1 i1" "r2 i2";
  padding: 8px 0 42px 0;
}
.t1g1 .title {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  padding: 8px;
  min-width: 90px;
  grid-area: title;
}
.t1g1 .r1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r1;
}
.t1g1 .i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: i1;
}
.t1g1 .i1 input {
  max-width: 104px;
  text-align: right;
}
.t1g1 .r2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r2;
}
.t1g1 .i2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: i2;
}
.t1g1 .i2 input {
  max-width: 104px;
  text-align: right;
}

.t1g2 {
  clear: both;
  display: grid;
  grid-template-columns: auto 130px;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: "r1 i1" "r2 i2";
  padding: 8px 0 42px 0;
}
.t1g2 .r1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r1;
}
.t1g2 .i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: i1;
}
.t1g2 .i1 input {
  max-width: 104px;
  text-align: right;
}
.t1g2 .r2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r2;
}
.t1g2 .i2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: i2;
}
.t1g2 .i2 input {
  max-width: 104px;
  text-align: right;
}

.t1g3 {
  clear: both;
  display: grid;
  grid-template-columns: auto 130px 130px 130px 130px;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: "title c1 c2 c3 c4" "r1 c1i1 c2i1 c3i1 c4i1" "r2 c1i2 c2i2 c3i2 c4i2" "r3 c1i3 c2i3 c3i3 c4i3";
  padding: 8px 0 42px 0;
}
.t1g3 .title {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  padding: 8px;
  min-width: 90px;
  grid-area: title;
}
.t1g3 .c1 {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: c1;
}
.t1g3 .c2 {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: c2;
}
.t1g3 .c3 {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: c3;
}
.t1g3 .c4 {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: c4;
}
.t1g3 .r1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r1;
}
.t1g3 .r2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r2;
}
.t1g3 .r3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r3;
}
.t1g3 .c1i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c1i1;
}
.t1g3 .c1i1 input {
  max-width: 104px;
  text-align: right;
}
.t1g3 .c1i2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c1i2;
}
.t1g3 .c1i2 input {
  max-width: 104px;
  text-align: right;
}
.t1g3 .c1i3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c1i3;
}
.t1g3 .c1i3 input {
  max-width: 104px;
  text-align: right;
}
.t1g3 .c2i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c2i1;
}
.t1g3 .c2i1 input {
  max-width: 104px;
  text-align: right;
}
.t1g3 .c2i2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c2i2;
}
.t1g3 .c2i2 input {
  max-width: 104px;
  text-align: right;
}
.t1g3 .c2i3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c2i3;
}
.t1g3 .c2i3 input {
  max-width: 104px;
  text-align: right;
}
.t1g3 .c3i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c3i1;
}
.t1g3 .c3i1 input {
  max-width: 104px;
  text-align: right;
}
.t1g3 .c3i2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c3i2;
}
.t1g3 .c3i2 input {
  max-width: 104px;
  text-align: right;
}
.t1g3 .c3i3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c3i3;
}
.t1g3 .c3i3 input {
  max-width: 104px;
  text-align: right;
}
.t1g3 .c4i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c4i1;
}
.t1g3 .c4i1 input {
  max-width: 104px;
  text-align: right;
}
.t1g3 .c4i2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c4i2;
}
.t1g3 .c4i2 input {
  max-width: 104px;
  text-align: right;
}
.t1g3 .c4i3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c4i3;
}
.t1g3 .c4i3 input {
  max-width: 104px;
  text-align: right;
}

.t1g4 {
  clear: both;
  display: grid;
  grid-template-columns: auto 130px 130px 130px 130px;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: "title c1 c2 c3 c4" "r1 c1i1 c2i1 c3i1 c4i1";
  padding: 8px 0 42px 0;
}
.t1g4 .title {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  padding: 8px;
  min-width: 90px;
  grid-area: title;
}
.t1g4 .c1 {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: c1;
}
.t1g4 .c2 {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: c2;
}
.t1g4 .c3 {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: c3;
}
.t1g4 .c4 {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: c4;
}
.t1g4 .c5 {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: c5;
}
.t1g4 .r1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r1;
}
.t1g4 .c1i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c1i1;
}
.t1g4 .c1i1 input {
  max-width: 104px;
  text-align: right;
}
.t1g4 .c2i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c2i1;
}
.t1g4 .c2i1 input {
  max-width: 104px;
  text-align: right;
}
.t1g4 .c3i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c3i1;
}
.t1g4 .c3i1 input {
  max-width: 104px;
  text-align: right;
}
.t1g4 .c4i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c4i1;
}
.t1g4 .c4i1 input {
  max-width: 104px;
  text-align: right;
}

.t1g5 {
  clear: both;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: "title c1 c2 c3 c4 c5" "r1 c1i1 c2i1 c3i1 c4i1 c5i1" "r2 c1i2 c2i2 c3i2 c4i2 c5i2";
  padding: 8px 0 42px 0;
}
.t1g5 .title {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  padding: 8px;
  min-width: 90px;
  grid-area: title;
}
.t1g5 .c1 {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: c1;
}
.t1g5 .c2 {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: c2;
}
.t1g5 .c3 {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: c3;
}
.t1g5 .c4 {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: c4;
}
.t1g5 .c5 {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: c5;
}
.t1g5 .r1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r1;
}
.t1g5 .r2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r2;
}
.t1g5 .c1i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c1i1;
}
.t1g5 .c1i1 input {
  max-width: 104px;
  text-align: right;
}
.t1g5 .c2i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c2i1;
}
.t1g5 .c2i1 input {
  max-width: 104px;
  text-align: right;
}
.t1g5 .c3i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c3i1;
}
.t1g5 .c3i1 input {
  max-width: 104px;
  text-align: right;
}
.t1g5 .c4i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c4i1;
}
.t1g5 .c4i1 input {
  max-width: 104px;
  text-align: right;
}
.t1g5 .c5i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c5i1;
}
.t1g5 .c5i1 input {
  max-width: 104px;
  text-align: right;
}
.t1g5 .c1i2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c1i2;
}
.t1g5 .c1i2 input {
  max-width: 104px;
  text-align: right;
}
.t1g5 .c2i2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c2i2;
}
.t1g5 .c2i2 input {
  max-width: 104px;
  text-align: right;
}
.t1g5 .c3i2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c3i2;
}
.t1g5 .c3i2 input {
  max-width: 104px;
  text-align: right;
}
.t1g5 .c4i2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c4i2;
}
.t1g5 .c4i2 input {
  max-width: 104px;
  text-align: right;
}
.t1g5 .c5i2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c5i2;
}
.t1g5 .c5i2 input {
  max-width: 104px;
  text-align: right;
}

.t2g1 {
  clear: both;
  display: grid;
  grid-template-columns: auto 130px;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: "title title" "r1 i1";
  padding: 8px 0 42px 0;
}
.t2g1 .title {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  padding: 8px;
  min-width: 90px;
  grid-area: title;
}
.t2g1 .r1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r1;
}
.t2g1 .i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: i1;
}
.t2g1 .i1 input {
  max-width: 104px;
  text-align: right;
}

.t2g2 {
  clear: both;
  display: grid;
  grid-template-columns: auto 130px 130px;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: "title c1 c2" "r1 c1i1 c2i1" "r2 c1i2 c2i2" "r3 c1i3 c2i3" "r4 c1i4 c2i4" "r5 c1i5 c2i5" "r6 c1i6 c2i6" "r7 c1i7 c2i7" "r8 c1i8 c2i8" "r9 c1i9 c2i9" "r10 c1i10 c2i10" "r11 c1i11 c2i11";
  padding: 8px 0 42px 0;
}
.t2g2 .title {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  padding: 8px;
  min-width: 90px;
  grid-area: title;
}
.t2g2 .c1 {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: c1;
}
.t2g2 .c2 {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: c2;
}
.t2g2 .r1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r1;
}
.t2g2 .r2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r2;
}
.t2g2 .r3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r3;
}
.t2g2 .r4 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r4;
}
.t2g2 .r5 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r5;
}
.t2g2 .r6 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r6;
}
.t2g2 .r7 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r7;
}
.t2g2 .r8 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r8;
}
.t2g2 .r9 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r9;
}
.t2g2 .r10 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r10;
}
.t2g2 .r11 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r11;
}
.t2g2 .c1i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c1i1;
}
.t2g2 .c1i1 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .c1i2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c1i2;
}
.t2g2 .c1i2 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .c1i3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c1i3;
}
.t2g2 .c1i3 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .c1i4 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c1i4;
}
.t2g2 .c1i4 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .c1i5 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c1i5;
}
.t2g2 .c1i5 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .c1i6 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c1i6;
}
.t2g2 .c1i6 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .c1i7 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c1i7;
}
.t2g2 .c1i7 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .c1i8 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c1i8;
}
.t2g2 .c1i8 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .c1i9 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c1i9;
}
.t2g2 .c1i9 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .c1i10 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c1i10;
}
.t2g2 .c1i10 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .c1i11 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c1i11;
}
.t2g2 .c1i11 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .c2i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c2i1;
}
.t2g2 .c2i1 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .c2i2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c2i2;
}
.t2g2 .c2i2 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .c2i3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c2i3;
}
.t2g2 .c2i3 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .c2i4 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c2i4;
}
.t2g2 .c2i4 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .c2i5 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c2i5;
}
.t2g2 .c2i5 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .c2i6 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c2i6;
}
.t2g2 .c2i6 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .c2i7 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c2i7;
}
.t2g2 .c2i7 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .c2i8 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c2i8;
}
.t2g2 .c2i8 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .c2i9 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c2i9;
}
.t2g2 .c2i9 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .c2i10 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c2i10;
}
.t2g2 .c2i10 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .c2i11 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c2i11;
}
.t2g2 .c2i11 input {
  max-width: 104px;
  text-align: right;
}

.custom_tab {
  border: 1px solid #d6e5ff;
  background: #d6e5ff;
  color: #ffffff;
  font-weight: bold;
}

.totals input {
  background-color: #DCDCDC !important;
}

i,
rem {
  color: #8a7474;
  font-weight: 300;
  font-size: 0.5em;
}

.img_logo {
  width: 100%;
  height: 120px;
  box-sizing: border-box;
}
.img_logo img {
  float: left;
}

#hide_tab {
  padding: 8px;
  float: right;
}
#hide_tab a {
  color: #f1f1f1f1;
  text-decoration: none;
  font-weight: 200;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: #B3AFB3;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B3AFB3;
}

::-webkit-scrollbar-track {
  background: #F0F0F0;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

/*# sourceMappingURL=main.css.map */
