@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.ty_h1 {
  color: #333333;
  font-size: 2rem;
}

.ty_h3 {
  font-size: 1.2rem;
  color: #0072B2;
}

.ty_h4 {
  padding-top: 18px;
  font-size: 1rem;
  color: #0072B2;
}

.ta_left {
  text-align: left !important;
  font-weight: 400 !important;
}

.ta_left_b {
  text-align: left !important;
  font-weight: 600 !important;
  color: #007F93;
  border-top: 1px solid #007F93;
  background-color: rgba(0, 0, 0, 0.089);
}

.ta_center {
  text-align: center !important;
}

.ta_right {
  text-align: right !important;
  background-color: blueviolet !important;
  max-width: 150px !important;
}

.text-overflow {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: white;
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.t1g1 {
  clear: both;
  display: grid;
  grid-template-columns: auto 130px;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: "title title" "r1 i1" "r2 i2";
  padding: 8px 0 42px 0;
}
.t1g1 .title {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  padding: 8px;
  min-width: 90px;
  grid-area: title;
}
.t1g1 .r1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r1;
}
.t1g1 .i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: i1;
}
.t1g1 .i1 input {
  max-width: 104px;
  text-align: right;
}
.t1g1 .r2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r2;
}
.t1g1 .i2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: i2;
}
.t1g1 .i2 input {
  max-width: 104px;
  text-align: right;
}

.t1g2 {
  clear: both;
  display: grid;
  grid-template-columns: auto 130px;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: "title title" "r1 i1" "r2 i2";
  padding: 8px 0 42px 0;
}
.t1g2 .title {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  padding: 8px;
  min-width: 90px;
  grid-area: title;
}
.t1g2 .r1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r1;
}
.t1g2 .i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: i1;
}
.t1g2 .i1 input {
  max-width: 104px;
  text-align: right;
}
.t1g2 .r2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r2;
}
.t1g2 .i2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: i2;
}
.t1g2 .i2 input {
  max-width: 104px;
  text-align: right;
}

.t1g3 {
  clear: both;
  display: grid;
  grid-template-columns: auto 130px 130px 130px 130px 130px;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: "title c1 c2 c3 c4 totals" "r1 c1i1 c2i1 c3i1 c4i1 tt1" "r2 c1i2 c2i2 c3i2 c4i2 tt2" "r3 c1i3 c2i3 c3i3 c4i3 tt3";
  padding: 8px 0 42px 0;
}
.t1g3 .title {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  padding: 8px;
  min-width: 90px;
  grid-area: title;
}
.t1g3 .c1 {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: c1;
}
.t1g3 .c2 {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: c2;
}
.t1g3 .c3 {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: c3;
}
.t1g3 .c4 {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: c4;
}
.t1g3 .totals {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #d6e5ff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: totals;
}
.t1g3 .r1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r1;
}
.t1g3 .r2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r2;
}
.t1g3 .r3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r3;
}
.t1g3 .c1i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c1i1;
}
.t1g3 .c1i1 input {
  max-width: 104px;
  text-align: right;
}
.t1g3 .c1i2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c1i2;
}
.t1g3 .c1i2 input {
  max-width: 104px;
  text-align: right;
}
.t1g3 .c1i3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c1i3;
}
.t1g3 .c1i3 input {
  max-width: 104px;
  text-align: right;
}
.t1g3 .c2i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c2i1;
}
.t1g3 .c2i1 input {
  max-width: 104px;
  text-align: right;
}
.t1g3 .c2i2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c2i2;
}
.t1g3 .c2i2 input {
  max-width: 104px;
  text-align: right;
}
.t1g3 .c2i3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c2i3;
}
.t1g3 .c2i3 input {
  max-width: 104px;
  text-align: right;
}
.t1g3 .c3i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c3i1;
}
.t1g3 .c3i1 input {
  max-width: 104px;
  text-align: right;
}
.t1g3 .c3i2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c3i2;
}
.t1g3 .c3i2 input {
  max-width: 104px;
  text-align: right;
}
.t1g3 .c3i3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c3i3;
}
.t1g3 .c3i3 input {
  max-width: 104px;
  text-align: right;
}
.t1g3 .c4i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c4i1;
}
.t1g3 .c4i1 input {
  max-width: 104px;
  text-align: right;
}
.t1g3 .c4i2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c4i2;
}
.t1g3 .c4i2 input {
  max-width: 104px;
  text-align: right;
}
.t1g3 .c4i3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c4i3;
}
.t1g3 .c4i3 input {
  max-width: 104px;
  text-align: right;
}
.t1g3 .tt1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #d6e5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: tt1;
}
.t1g3 .tt1 input {
  max-width: 104px;
  text-align: right;
}
.t1g3 .tt2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #d6e5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: tt2;
}
.t1g3 .tt2 input {
  max-width: 104px;
  text-align: right;
}
.t1g3 .tt3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #d6e5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: tt3;
}
.t1g3 .tt3 input {
  max-width: 104px;
  text-align: right;
}

.t1g4 {
  clear: both;
  display: grid;
  grid-template-columns: auto 130px 130px 130px 130px 130px 130px;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: "title c1 c2 c3 c4 c5 totals" "r1 c1i1 c2i1 c3i1 c4i1 c5i1 tt1" "r2 c1i2 c2i2 c3i2 c4i2 c5i2 tt2";
  padding: 8px 0 42px 0;
}
.t1g4 .title {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  padding: 8px;
  min-width: 90px;
  grid-area: title;
}
.t1g4 .totals {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #d6e5ff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: totals;
}
.t1g4 .tt1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #d6e5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: tt1;
}
.t1g4 .tt1 input {
  max-width: 104px;
  text-align: right;
}
.t1g4 .tt2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #d6e5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: tt2;
}
.t1g4 .tt2 input {
  max-width: 104px;
  text-align: right;
}
.t1g4 .c1 {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: c1;
}
.t1g4 .c2 {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: c2;
}
.t1g4 .c3 {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: c3;
}
.t1g4 .c4 {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: c4;
}
.t1g4 .c5 {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: c5;
}
.t1g4 .r1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r1;
}
.t1g4 .r2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r2;
}
.t1g4 .c1i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c1i1;
}
.t1g4 .c1i1 input {
  max-width: 104px;
  text-align: right;
}
.t1g4 .c2i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c2i1;
}
.t1g4 .c2i1 input {
  max-width: 104px;
  text-align: right;
}
.t1g4 .c3i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c3i1;
}
.t1g4 .c3i1 input {
  max-width: 104px;
  text-align: right;
}
.t1g4 .c4i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c4i1;
}
.t1g4 .c4i1 input {
  max-width: 104px;
  text-align: right;
}
.t1g4 .c5i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c5i1;
}
.t1g4 .c5i1 input {
  max-width: 104px;
  text-align: right;
}
.t1g4 .c1i2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c1i2;
}
.t1g4 .c1i2 input {
  max-width: 104px;
  text-align: right;
}
.t1g4 .c2i2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c2i2;
}
.t1g4 .c2i2 input {
  max-width: 104px;
  text-align: right;
}
.t1g4 .c3i2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c3i2;
}
.t1g4 .c3i2 input {
  max-width: 104px;
  text-align: right;
}
.t1g4 .c4i2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c4i2;
}
.t1g4 .c4i2 input {
  max-width: 104px;
  text-align: right;
}
.t1g4 .c5i2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: c5i2;
}
.t1g4 .c5i2 input {
  max-width: 104px;
  text-align: right;
}

.t2g1 {
  clear: both;
  display: grid;
  grid-template-columns: auto 130px;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: "title title" "r1 i1";
  padding: 8px 0 42px 0;
}
.t2g1 .title {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  padding: 8px;
  min-width: 90px;
  grid-area: title;
}
.t2g1 .r1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r1;
}
.t2g1 .i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: i1;
}
.t2g1 .i1 input {
  max-width: 104px;
  text-align: right;
}

.t2g2 {
  clear: both;
  display: grid;
  grid-template-columns: auto 130px;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Tittle Tittle" "r1 i1" "t_area1 t_area1" "r2 i2" "t_area2 t_area2" "r3 i3" "t_area3 t_area3" "r4 i4" "t_area4 t_area4" "r5 i5" "t_area5 t_area5" "r6 i6" "t_area6 t_area6" "r7 i7" "t_area7 t_area7" "r8 i8" "t_area8 t_area8" "r9 i9" "t_area9 t_area9" "r10 i10" "t_area10 t_area10" "r11 i11" "t_area11 t_area11";
  padding: 8px 0 42px 0;
}
.t2g2 .Tittle {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  padding: 8px;
  min-width: 90px;
  grid-area: Tittle;
}
.t2g2 .r1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r1;
}
.t2g2 .t_area1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: t_area1;
}
.t2g2 .t_area1 input {
  text-align: left !important;
  resize: both, importnt !important;
  width: calc(100% - 10px);
  resize: both !important;
  height: 100px !important;
}
.t2g2 .r2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r2;
}
.t2g2 .t_area2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: t_area2;
}
.t2g2 .t_area2 input {
  text-align: left !important;
  width: calc(100% - 10px);
  resize: both !important;
  height: 100px !important;
}
.t2g2 .r3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r3;
}
.t2g2 .t_area3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: t_area3;
}
.t2g2 .t_area3 input {
  text-align: left !important;
  width: calc(100% - 10px);
  resize: both !important;
  height: 100px !important;
}
.t2g2 .r4 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r4;
}
.t2g2 .t_area4 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: t_area4;
}
.t2g2 .t_area4 input {
  text-align: left !important;
  width: calc(100% - 10px);
  resize: both !important;
  height: 100px !important;
}
.t2g2 .r5 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r5;
}
.t2g2 .t_area5 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: t_area5;
}
.t2g2 .t_area5 input {
  text-align: left !important;
  width: calc(100% - 10px);
  resize: both !important;
  height: 100px !important;
}
.t2g2 .r6 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r6;
}
.t2g2 .t_area6 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: t_area6;
}
.t2g2 .t_area6 input {
  text-align: left !important;
  width: calc(100% - 10px);
  resize: both !important;
  height: 100px !important;
}
.t2g2 .r7 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r7;
}
.t2g2 .t_area7 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: t_area7;
}
.t2g2 .t_area7 input {
  text-align: left !important;
  width: calc(100% - 10px);
  resize: both !important;
  height: 100px !important;
}
.t2g2 .r8 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r8;
}
.t2g2 .t_area8 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: t_area8;
}
.t2g2 .t_area8 input {
  text-align: left !important;
  width: calc(100% - 10px);
  resize: both !important;
  height: 100px !important;
}
.t2g2 .r9 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r9;
}
.t2g2 .t_area9 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: t_area9;
}
.t2g2 .t_area9 input {
  text-align: left !important;
  width: calc(100% - 10px);
  resize: both !important;
  height: 100px !important;
}
.t2g2 .r10 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r10;
}
.t2g2 .t_area10 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: t_area10;
}
.t2g2 .t_area10 input {
  text-align: left !important;
  width: calc(100% - 10px);
  resize: both !important;
  height: 100px !important;
}
.t2g2 .r11 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: r11;
}
.t2g2 .t_area11 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: t_area11;
}
.t2g2 .t_area11 input {
  text-align: left !important;
  width: calc(100% - 10px);
  resize: both !important;
  height: 100px !important;
}
.t2g2 .i1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  text-align: right;
  grid-area: i1;
}
.t2g2 .i1 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .i2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  text-align: right;
  grid-area: i2;
}
.t2g2 .i2 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .i3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  text-align: right;
  grid-area: i3;
}
.t2g2 .i3 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .i4 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  text-align: right;
  grid-area: i4;
}
.t2g2 .i4 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .i5 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  text-align: right;
  grid-area: i5;
}
.t2g2 .i5 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .i6 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  text-align: right;
  grid-area: i6;
}
.t2g2 .i6 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .i7 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  text-align: right;
  grid-area: i7;
}
.t2g2 .i7 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .i8 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  text-align: right;
  grid-area: i8;
}
.t2g2 .i8 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .i9 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  text-align: right;
  grid-area: i9;
}
.t2g2 .i9 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .i10 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  text-align: right;
  grid-area: i10;
}
.t2g2 .i10 input {
  max-width: 104px;
  text-align: right;
}
.t2g2 .i11 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  text-align: right;
  grid-area: i11;
}
.t2g2 .i11 input {
  max-width: 104px;
  text-align: right;
}

.t3g1 {
  clear: both;
  display: grid;
  grid-template-columns: 1fr 132px 132px 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Title Title Title Title" "Type asd incr desc" "ty1 asd1 incr1 desc1" "ty2 asd2 incr2 desc2" "ty3 asd3 incr3 desc3" "ty4 asd4 incr4 desc4" "ty5 asd5 incr5 desc5" "ty6 asd6 incr6 desc6" "ty7 asd7 incr7 desc7" "ty8 asd8 incr8 desc8" "ty9 asd9 incr9 desc9";
  padding: 8px 16px 42px 16px;
}
.t3g1 .Title {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  padding: 8px;
  min-width: 90px;
  grid-area: Title;
}
.t3g1 .Type {
  font-size: 1.1em;
  font-weight: 800;
  color: #333333;
  padding: 8px;
  min-width: 90px;
  grid-area: Type;
}
.t3g1 .asd {
  font-size: 1.1em;
  font-weight: 800;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: asd;
}
.t3g1 .incr {
  font-size: 1.1em;
  font-weight: 800;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: incr;
}
.t3g1 .desc {
  font-size: 1.1em;
  font-weight: 800;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: desc;
}
.t3g1 .ty1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: ty1;
}
.t3g1 .ty2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: ty2;
}
.t3g1 .ty3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: ty3;
}
.t3g1 .ty4 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: ty4;
}
.t3g1 .ty5 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: ty5;
}
.t3g1 .ty6 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: ty6;
}
.t3g1 .ty7 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: ty7;
}
.t3g1 .ty8 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: ty8;
}
.t3g1 .ty9 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: ty9;
}
.t3g1 .asd1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: asd1;
}
.t3g1 .asd1 input {
  max-width: 104px;
  text-align: right;
}
.t3g1 .asd2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: asd2;
}
.t3g1 .asd2 input {
  max-width: 104px;
  text-align: right;
}
.t3g1 .asd3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: asd3;
}
.t3g1 .asd3 input {
  max-width: 104px;
  text-align: right;
}
.t3g1 .asd4 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: asd4;
}
.t3g1 .asd4 input {
  max-width: 104px;
  text-align: right;
}
.t3g1 .asd5 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: asd5;
}
.t3g1 .asd5 input {
  max-width: 104px;
  text-align: right;
}
.t3g1 .asd6 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: asd6;
}
.t3g1 .asd6 input {
  max-width: 104px;
  text-align: right;
}
.t3g1 .asd7 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: asd7;
}
.t3g1 .asd7 input {
  max-width: 104px;
  text-align: right;
}
.t3g1 .asd8 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: asd8;
}
.t3g1 .asd8 input {
  max-width: 104px;
  text-align: right;
}
.t3g1 .asd9 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: asd9;
}
.t3g1 .asd9 input {
  max-width: 104px;
  text-align: right;
}
.t3g1 .incr1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: incr1;
}
.t3g1 .incr1 input {
  max-width: 104px;
  text-align: right;
}
.t3g1 .incr2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: incr2;
}
.t3g1 .incr2 input {
  max-width: 104px;
  text-align: right;
}
.t3g1 .incr3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: incr3;
}
.t3g1 .incr3 input {
  max-width: 104px;
  text-align: right;
}
.t3g1 .incr4 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: incr4;
}
.t3g1 .incr4 input {
  max-width: 104px;
  text-align: right;
}
.t3g1 .incr5 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: incr5;
}
.t3g1 .incr5 input {
  max-width: 104px;
  text-align: right;
}
.t3g1 .incr6 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: incr6;
}
.t3g1 .incr6 input {
  max-width: 104px;
  text-align: right;
}
.t3g1 .incr7 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: incr7;
}
.t3g1 .incr7 input {
  max-width: 104px;
  text-align: right;
}
.t3g1 .incr8 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: incr8;
}
.t3g1 .incr8 input {
  max-width: 104px;
  text-align: right;
}
.t3g1 .incr9 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: incr9;
}
.t3g1 .incr9 input {
  max-width: 104px;
  text-align: right;
}
.t3g1 .desc1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: desc1;
}
.t3g1 .desc1 input {
  width: calc(100% - 10px) !important;
  max-height: 100px !important;
  text-align: right;
}
.t3g1 .desc2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: desc2;
}
.t3g1 .desc2 input {
  max-width: 104px;
  text-align: right;
}
.t3g1 .desc3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: desc3;
}
.t3g1 .desc3 input {
  max-width: 104px;
  text-align: right;
}
.t3g1 .desc4 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: desc4;
}
.t3g1 .desc4 input {
  max-width: 104px;
  text-align: right;
}
.t3g1 .desc5 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: desc5;
}
.t3g1 .desc5 input {
  max-width: 104px;
  text-align: right;
}
.t3g1 .desc6 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: desc6;
}
.t3g1 .desc6 input {
  max-width: 104px;
  text-align: right;
}
.t3g1 .desc7 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: desc7;
}
.t3g1 .desc7 input {
  max-width: 104px;
  text-align: right;
}
.t3g1 .desc8 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: desc8;
}
.t3g1 .desc8 input {
  max-width: 104px;
  text-align: right;
}
.t3g1 .desc9 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  border-right: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: desc9;
}
.t3g1 .desc9 input {
  max-width: 104px;
  text-align: right;
}

.t4g1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Title Title Title" "app nap des" "app1 nap1 des1" "app2 nap2 des2" "app3 nap3 des3" "app4 nap4 des4" "app5 nap5 des5" "app6 nap6 des6" "app7 nap7 des7";
  padding: 8px 16px 42px 16px;
}
.t4g1 .Title {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  padding: 8px;
  min-width: 90px;
  grid-area: Title;
}
.t4g1 .app {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  padding: 8px;
  min-width: 90px;
  grid-area: app;
}
.t4g1 .nap {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: nap;
}
.t4g1 .des {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  background-color: #e7efff;
  padding: 8px;
  border-bottom: 2px solid #f7faff;
  border-right: 1px solid #f7faff;
  border-top: 1px solid #f7faff;
  text-align: center;
  grid-area: des;
}
.t4g1 .app1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: app1;
}
.t4g1 .app2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: app2;
}
.t4g1 .app3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: app3;
}
.t4g1 .app4 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: app4;
}
.t4g1 .app5 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: app5;
}
.t4g1 .app6 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: app6;
}
.t4g1 .app7 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: app7;
}
.t4g1 .nap1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: nap1;
}
.t4g1 .nap1 input {
  max-width: 104px;
  text-align: right;
}
.t4g1 .nap2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: nap2;
}
.t4g1 .nap2 input {
  max-width: 104px;
  text-align: right;
}
.t4g1 .nap3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: nap3;
}
.t4g1 .nap3 input {
  max-width: 104px;
  text-align: right;
}
.t4g1 .nap4 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: nap4;
}
.t4g1 .nap4 input {
  max-width: 104px;
  text-align: right;
}
.t4g1 .nap5 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: nap5;
}
.t4g1 .nap5 input {
  max-width: 104px;
  text-align: right;
}
.t4g1 .nap6 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: nap6;
}
.t4g1 .nap6 input {
  max-width: 104px;
  text-align: right;
}
.t4g1 .nap7 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: nap7;
}
.t4g1 .nap7 input {
  max-width: 104px;
  text-align: right;
}
.t4g1 .des1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: des1;
}
.t4g1 .des1 input {
  max-width: 104px;
  text-align: right;
}
.t4g1 .des2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: des2;
}
.t4g1 .des2 input {
  max-width: 104px;
  text-align: right;
}
.t4g1 .des3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: des3;
}
.t4g1 .des3 input {
  max-width: 104px;
  text-align: right;
}
.t4g1 .des4 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: des4;
}
.t4g1 .des4 input {
  max-width: 104px;
  text-align: right;
}
.t4g1 .des5 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: des5;
}
.t4g1 .des5 input {
  max-width: 104px;
  text-align: right;
}
.t4g1 .des6 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: des6;
}
.t4g1 .des6 input {
  max-width: 104px;
  text-align: right;
}
.t4g1 .des7 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: des7;
}
.t4g1 .des7 input {
  max-width: 104px;
  text-align: right;
}

.t4g2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Title Title" "t1 a1" "t2 a2" "t3 a3";
}
.t4g2 .Title {
  font-size: 1.1em !important;
  font-weight: 800 !important;
  color: #333333;
  padding: 8px;
  min-width: 90px;
  grid-area: Title;
}
.t4g2 .t1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: t1;
}
.t4g2 .t2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: t2;
}
.t4g2 .t3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  grid-area: t3;
}
.t4g2 .a1 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: a1;
}
.t4g2 .a1 input {
  max-width: 104px;
  text-align: right;
}
.t4g2 .a2 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: a2;
}
.t4g2 .a2 input {
  max-width: 104px;
  text-align: right;
}
.t4g2 .a3 {
  font-size: 1em;
  font-weight: 400;
  color: #333333;
  background-color: #eff5ff;
  padding: 8px;
  border-bottom: 1px solid #f7faff;
  border-left: 1px solid #f7faff;
  min-width: 90px;
  text-align: right;
  grid-area: a3;
}
.t4g2 .a3 input {
  max-width: 104px;
  text-align: right;
}

.custom_tab {
  border: 1px solid #d6e5ff;
  background: #d6e5ff;
  color: #ffffff;
  font-weight: bold;
}

.totals input {
  background-color: #DCDCDC !important;
}

i,
rem {
  color: #8a7474;
  font-weight: 300;
  font-size: 0.5em;
}

.img_logo {
  width: 100%;
  height: 120px;
  box-sizing: border-box;
}
.img_logo img {
  float: left;
}

#hide_tab {
  padding: 8px;
  float: right;
}
#hide_tab a {
  color: #f1f1f1f1;
  text-decoration: none;
  font-weight: 200;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: #B3AFB3;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B3AFB3;
}

::-webkit-scrollbar-track {
  background: #F0F0F0;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

/*# sourceMappingURL=main.css.map */
