.dialog {
    position: fixed;
    top: 45%;
    left: 45%;
    display: none;
    width: 300px;
    height: auto;
    vertical-align: top;
    background-color: #fff;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
    padding: 16px;
    z-index: 999;

    .content {
        height: auto;
        font-size: 0.9em;
        box-sizing: border-box;

        .nav_dg {
            width: 100%;
            min-height: 40px;
            box-sizing: border-box;

            .title {
                float: left;
                font-size: 1.3em;
                height: auto;
                width: calc(100% - 32px);
                margin-bottom: 8px;
                box-sizing: border-box;
            }

            .cta {
                float: left;
                height: 36px;
                font-size: 1.3em;
                margin-left: 8px;
                width: 24px;
                cursor: pointer;
                box-sizing: border-box;
            }
        }

        .descriptionInfo {
            clear: both;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
        }

        .button {
            width: 90px;
            float: right;
        }
    }
}



/* Misc */

.center {
    text-align: center;
}

.label {
    padding: 0 16px;
}

.label-blue {
    color: #4285f4;
}